.display {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.display > * {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  margin: 1%;
  /* background-color: white;
  border-radius: 10px; */
}
.display > div > span {
  background-color: white;
  border-radius: 10px;
  padding: 0 1%;
}
.tableHeader {
  font-size: 2rem;
  color: rgb(80, 80, 80);
}
.item {
  background-color: white;
  border-radius: 10px;
  padding: 1%;
  font-size: 1.5rem;
  justify-content: space-between;
}
.item > * {
  width: 25%;
}
.cancelBtn {
  border: 2px solid rgb(155, 15, 15);
  border-radius: 5px;
  cursor: pointer;
}
.completedOrders {
  font-size: 2rem;
  color: rgb(80, 80, 80);
  background-color: white;
  border-radius: 10px;
  padding: 0 1%;
  width: fit-content;
  position: absolute;
  bottom: 0;
}
